@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59; /* changed this to #1e293b for light theme text color */
  --background-start-rgb: 30, 41, 59; /* changed this to #1e293b for dark theme background */
  --background-end-rgb: 30, 41, 59; /* changed this to #1e293b for dark theme gradient end */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.draggable {
  touch-action: none;
}
