@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59; /* changed this to #1e293b for light theme text color */
  --background-start-rgb: 30, 41, 59; /* changed this to #1e293b for dark theme background */
  --background-end-rgb: 30, 41, 59; /* changed this to #1e293b for dark theme gradient end */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
